<suite name="ParaBank Automation Suite" verbose="1">
    <listeners>
        <listener class-name="com.automation.listeners.TestListener"/>
        <listener class-name="com.automation.listeners.ExtentReportListener"/>
    </listeners>

    <test name="ParaBank Tests">
        <classes>
            <class name="com.automation.tests.RegistrationTests"/>
            <class name="com.automation.tests.LoginTests"/>
        </classes>
    </test>
</suite>
